$size__site-main: 100%;
$size__site-sidebar: 25%;

$padding_horizontal_xl: 100px;
$padding_vertical_xl: 80px;

$heading-vertical-padding-xl: 60px;

$box-horizontal-padding-xl: 40px;
$box-verticle-padding-xl:40px;

$box-heading-horizontal-padding-xl: 40px;
$box-heading-vertical-padding-xl: 25px;

$box-heading-horizonatal-padding-xl: 40px;
$box-heading-verticle-padding-xl: 40px;

$secondary: #FFE700;
$primary: #059334;
$tertiary: #F32D2D;
$primary-alt: #A1B3F0;
$backgound-dark: #262626;
$section-bg: #04AEDC;